<div class="col-md-4">
  <div class="thumbnail">
    <img
      src="https://cdn.galleries.smcloud.net/t/galleries/gf-AqK1-SYtb-mCK1_cebula-droga-jak-pomarancze-664x442-nocrop.jpg"
      alt="..."
    />
    <div class="caption">
      <h3>Cebula</h3>
      <p><strong>price:</strong> $1</p>
      <p>
        <strong>quant:</strong> 1
        <a href="#" class="btn btn-primary" role="button">-</a>
        <a href="#" class="btn btn-default" role="button">+</a>
      </p>
      <a href="#" class="btn btn-success" role="button">add to cart</a>
    </div>
  </div>
</div>
