<div class="col-md-4" *ngFor="let product of products; let i = index">
  <div class="thumbnail">
    <img [src]="product.img" style=" height: 64px" />
    <div class="caption">
      <h3>{{ product.name }}</h3>

      <p>
        <strong>price: {{ product.price }} zł</strong>
      </p>
      <p>
        <strong>ilość:</strong> {{ quantities[i] }}
        <button (click)="decreaseQuant(i)" class="btn btn-primary">
          -
        </button>
        <button (click)="increaseQuant(i)" class="btn btn-default">
          +
        </button>
      </p>
      <button
        class="btn btn-success"
        role="button"
        (click)="addProductToCart(i)"
      >
        add to cart
      </button>
    </div>
  </div>
</div>
