<h3>Koszyk</h3>

<ul class="list-group" *ngFor="let cart of carts; let i = index">
  <li class="list-group-item">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <strong>{{ cart.name | titlecase }}</strong>
          <div>
            <button
              class="btn btn-danger btn-xs btn-delete"
              (click)="removeProductFromCart(i)"
            >
              X
            </button>
          </div>
        </h4>
      </div>
    </div>
    <div class="media-left">
      <img [src]="cart.img" style=" height: 40px" />
    </div>

    <p><strong>cena/szt:</strong> {{ cart.price | currency: "PLN" }}</p>
    <p><strong>ilość szt: </strong>{{ cart.quantity }}</p>
    <p>
      <strong>razem: </strong>{{ cart.price * cart.quantity | currency: "PLN" }}
    </p>

    <p></p>
  </li>
</ul>
